{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load url_tags %}
{% block content %}

<div class="container my-5">
    <h2>Giỏ hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Thông tin sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr id="cart-item-{{item.id}}">
                <td>
                    <div class="d-flex align-items-center">
                        <img src="{{item.product.thumbnailURL}}" alt="Product" width="50" class="me-3">
                        <div>
                            <p class="mb-0">{{item.product.name}}</p>
                            <button
                            data-product-slug="{{item.product.slug}}" data-action="remove_all" data-quantity="1"
                            class="btn btn-sm btn-outline-danger update-cart">Xóa</button>
                        </div>
                    </div>
                </td>
                <td id="product-price-{{item.product.slug}}">{{item.product.price|intcomma}}đ</td>
                <td>
                    <div class="input-group input-group-sm">
                        <button data-product-slug="{{item.product.slug}}" data-action="remove" data-quantity="1" 
                        class="btn btn-outline-secondary quantity-btn update-cart" type="button">-</button>
                        <span  class="quantity-display" id="cart-item-{{item.product.slug}}">{{item.quantity}}</span>
                        <button data-product-slug="{{item.product.slug}}" data-action="add" data-quantity="1" 
                        class="btn btn-outline-secondary quantity-btn update-cart" type="button">+</button>
                    </div>
                </td>
                <td id="item-total-price-{{item.product.slug}}">{{item.total_price|intcomma}}đ</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        Tổng tiền:
        <p id="order-total-price"> {{order_total_price|intcomma}}đ</p>
        <a href='{% url "store:products" %}'>Tiếp tục xem hàng</a> |
        <a href='{% url "store:home" %}' >quay lại trang chủ</a>
        
        {% if cart_quantity > 0 %}
        <a href='{% url "store:checkout" %}' class="btn btn-primary">Thanh toán</a>
        {% endif %}
    </div>
</div>
{% endblock content %}