      <!-- tabs -->
      <section class="aditional-info">
        <div class="container">
          <div class="tabs">
            <input
              type="radio"
              name="tab-info"
              id="thong-tin"
              class="tab-input"
              checked
            />
            <label for="thong-tin" class="tab-title"> Thông tin sản phẩm </label>
            <div class="tab-inside">
                {{product.description}}
            </div>
  
            <input
              type="radio"
              name="tab-info"
              id="chinh-sach"
              class="tab-input"
            />
            <label for="chinh-sach" class="tab-title"
              >Chính sách vận chuyển</label
            >
            <div class="tab-inside">
              QUY TRÌNH Sau khi nhận được đơn đặt hàng của Quý Khách, chúng tôi sẽ
              liên hệ để xác nhận thông tin mua hàng qua điện thoại trong giờ hành
              chánh (từ 9h – 19h thứ 2 đến thứ 7, trừ ngày lễ tết).
            </div>
  
            <input type="radio" name="tab-info" id="bao-hanh" class="tab-input" />
            <label for="bao-hanh" class="tab-title">Đổi trả và Bảo hành</label>
            <div class="tab-inside">
              Chỉ đổi sản phẩm trong trường hợp sản phẩm bị lỗi không phát sinh từ
              phía khách hàng, cụ thể gồm những trường hợp sau đây: Lỗi kỹ thuật
              của sản phẩm Hàng hóa bị bể vỡ trước khi đến tay khách hàng, giao
              sai sản phẩm
            </div>
  
            <input
              type="radio"
              name="tab-info"
              id="hinh-thuc"
              class="tab-input"
            />
            <label for="hinh-thuc" class="tab-title">Hình thức thanh toán</label>
            <div class="tab-inside">
              Sau khi đặt hàng và đơn hàng được xác nhận, sản phẩm sẽ được đóng
              gói và gửi đi. Khi nhận hàng, Quý khách hàng sẽ được kiểm tra sản
              phẩm và nếu đồng ý nhận hàng, Quý khách hàng sẽ tiến hành thanh toán
              bằng tiền mặt cho nhân viên giao hàng.
            </div>
          </div>
        </div>
      </section>
      <!-- tabs -->