{% load static %}
{% load humanize %}
{% load url_tags %}
{% load breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'css_tag.html' %}
    <script>
      let user = "{{request.user}}"
      let CSRF_TOKEN = "{{csrf_token}}"

      function getCookie(name) {
        var cookieArr = document.cookie.split(";");
  
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
  
            if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
  
        return null;
    }
    var cart = JSON.parse(getCookie('cart'))
    if(cart == undefined) {
      cart = {}
      console.log('cart was created')
      document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/;SameSite=Lax';
    }

    console.log('cookie', cart)
    </script>
    <title>Cosmetic</title>
  </head>
  <body>
    <button class="btn" onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="fa-solid fa-angle-up fa-lg"></i>
    </button>
    {% include 'navbar.html' %}
    

    {% if request.path != '/' %}
    {% include 'breadcrumb.html' %}
    {% endif %}

    {% include 'flash_messages.html' %}

    {% block content %}
    {% endblock content %}

    <!-- email -->
    {% include 'email_section.html' %}
    <!-- email -->

    <!-- footer -->
    {% include 'footer.html' %}
    <!-- footer -->

    {% include 'script_tag.html' %}
  </body>
</html>
