{% load static %}
{% load humanize %}
{% load url_tags %}

<section class="mail">
    <div class="container">
      <div class="row d-flex">
        <div class="align-items-center col-lg-3 order-lg-1 order-2 social">
          <div class="link-social text-center d-flex align-items-center">
            <a href="" title="theo dõi trên facebook">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="" title="theo dõi trên messenger">
              <i class="fa-brands fa-facebook-messenger"></i>
            </a>
            <a href="" title="theo dõi trên instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" title="theo dõi youtube">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>