{% load static %}
    <!-- mega header -->
    <header class="mega-header d-flex flex-column">
        <!-- navbar -->
        <nav class="order-lg-2 order-1 header-menu">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-5 contact-header">
                <a href="{%  url 'store:home'  %}" class="logo" title="logo">
                  <img src="{% static 'images/logo.png' %}" alt="">
                </a>
              </div>
              <div class="col-lg-7 col-md-12 col-menu order-2 order-lg-1">
                <div class="nav d-none d-lg-block">
                  <ul class="item-big">
                    <li class="nav-item">
                      <a href="{%  url 'store:home'  %}" title="Trang chủ">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'store:introduction' %}" title="Giới Thiệu"
                        >GIỚI THIỆU</a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'store:products' %}" title="Sản PHẩm">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'store:contact' %}" title="Liên Hệ">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'store:cart' %}" title="Tin Tuc">GIỎ HÀNG</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="search-account col-lg-3 col-md-6 col-7 order-1 order-lg-2"
              >
                <div class="search" id="search-nav">
                  <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                  <div class="hidden-serach-block" id="hidden-search-block">
                    <form action="{% url 'store:products' %}">
                      <input
                        value="{{search}}"
                        type="search"
                        name="search"
                        placeholder="tìm kiếm....."
                        
                      >
                      <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="account d-none d-lg-inline-block">
                  <i class="fa-regular fa-user fa-lg"></i>
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'store:account' request.user.id %}">{{request.user}}</a>
                  {% endif %}
                  <div class="hidden-acount-block" id="hidden-account-block">
                    {% if request.user.is_authenticated %}
                    <i class="fas fa-sign-out"></i>
                    <a href="{% url 'store:logout' %}">Đăng xuất</a>
                    {% else %}
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <a href="{% url 'store:login' %}" title="Đăng Nhập">Đăng Nhập</a>
                    <span>|</span>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <a href="{% url 'store:register' %}" title="Đăng Ký">Đăng Ký</a>
                    {% endif %}
                  </div>
                </div>
                <div class="cart">
                  <a href="{% url 'store:cart' %}" title="giỏ hàng">
                    <i class="fa-solid fa-bag-shopping fa-lg"></i>
                  </a>
                  <span class="item-in-cart-counter" id="cart-total">{{cart_quantity}}</span>
                </div>
                <div class="sidebar-menu d-inline-block d-lg-none">
                  <div id="overlay"></div>
                  <button class="offcanvas-toggler ms-2">
                    <i class="fa-solid fa-bars fa-xl"></i>
                  </button>
                  <ul class="sidebar" tabindex="-1">
                    <li>
                      <a href="{% url 'store:home' %}" title="Trang Chủ">Trang chủ</a>
                    </li>
                    <li>
                      <a href="{% url 'store:introduction' %}" title="Giới thiệu"
                        >Giới thiệu</a
                      >
                    </li>
                    <li class="collapse-li">
                      <a href="{% url 'store:products' %}" title="Sản phẩm">Sản phẩm</a>
                    </li>
                    <li>
                      <a href="{% url 'store:contact' %}" title="Liên hệ">Liên hệ</a>
                    </li>
                    <li>
                      <a href="{% url 'store:cart' %}" title="Giỏ hàng">Giỏ hàng</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <i class="fas fa-sign-out"></i>
                    <a href="{% url 'store:logout' %}">Đăng xuất</a>

                    {% else %}
                    <li>
                      <i class="fa-solid fa-right-to-bracket"></i>
                      <a href="{% url 'store:login' %}" title="Đăng Nhập">Đăng Nhập</a>
                    </li>
                    <li>
                      <i class="fa-solid fa-pen-to-square"></i>
                      <a href="{% url 'store:register' %}" title="Đăng Ký">Đăng Ký</a>
                    </li>

                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- navbar -->
      </header>
      <!-- mega header -->